<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lakue.capturebutton" >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:installLocation="preferExternal"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".Permission.PermissionActivity"
            android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|screenLayout|fontScale|uiMode|orientation|screenSize|layoutDirection"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.Transparent.Permission"
            />

    </application>
</manifest>
